/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----Custom styling----*/

*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
	font-size: 16px;
}
body{
	font-size: 1rem;
	line-height: 1.5;
	font-family: 'Nunito', sans-serif;
	
	
}
:root{
	--primary:rgb(249,35,77);
	--bg:rgb(223,236,255);
	--text-dark:rgb(1,18,45);
	--text-light:rgb(127,128,138);
}

/*-----General section-----*/
a{
	text-decoration: none;
	text-transform: capitalize;
}
.padding{
	padding: 3rem 0;
}
.font-0{
	font-size: 0;
}

.border{
	outline: 0.134rem dashed var(--primary);
}
.container{
	max-width: 85rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}
.sec-header{
	font-size: 2.5rem;
	color: var(--text-dark);
	padding-bottom: 3rem;
	font-weight: 900;
}

.flex{
	display: flex;
	
	align-items: center;
}
.justify-between{
	justify-content: space-between;
}
.vertical-center{
	align-items: center;
}
.flex-48{
	flex: 0 1 48%;
}
.flex-50{
	flex: 0 1 50%;
}
.flex-30{
	flex: 0 1 31%;
}
.flex-60{
	flex: 0 1 60%;
}
.flex-15{
	flex: 0 1 15%;
}
.flex-23{
	flex: 0 1 23%;
}
.full-width{
	width: 100%;
}
/*---Buttons---*/

.btn{
	padding: 0.65rem 2.25rem;
	display: inline-block;
	background-color: var(--primary);
	color: #fff;
	border-radius: 4px;
}
.btn-font-size{
	
	font-size: 1.2rem;
}

/*-----Header & navbar-----*/

.header{
	padding: 1.5rem 0;
	
	position: absolute;
	
	width: 100%;
	z-index: 1;
	
}
.navbar li a{
	margin-right: 2.5rem;
	font-weight: 600;
	color: #fff;
	
}
#toggle , .bars{
	display: none;
}

/*----Hero section----*/

.hero{
	background: linear-gradient(to bottom, rgba(54,43,178,0.788), rgba(54,43,178,0.788))
	            , url(/assets/banner.png) center center/cover no-repeat;
	height: 100vh;
	position: relative;
	
}

.hero h1{
	font-size: 3.1rem;
	font-weight: 900;
	text-transform: capitalize;
	padding-bottom: 1.6rem;
	color: #fff;
}
.hero h1 .active{
	color: var(--primary);
}
.hero p{
	font-size: 1.2rem;
	padding: 1.6rem 0;
	font-weight: 600;
	color: #fff;
	
	
}


/*-----About section----*/


.about h1{
	font-size: 2.8rem;
	font-weight: 900;
	text-transform: uppercase;
	
	color: var(--text-dark)
}

.about p{
	font-size: 1.2rem;
	padding: 1.6rem 0;
	color: var(--text-dark);
	font-weight: 600;
}
.about .btn{
	padding: 0.65rem 1.8rem;
}

/*---Join us section----*/

.join{
	background-color: var(--bg);
	text-align: center;
	
}
.join h3{
	text-align: left;
	font-size: 2rem;
	font-weight: 900;
	color: var(--text-dark);
	padding: 1.5rem 1rem 0 1rem;
}
.join p{
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-light);
	padding: 1rem;
	text-align: left;
}

/*-----Schedule section----*/

.schedule{
	text-align: center;
}
.schedule img{
	border-radius: 0.5rem;
}
.schedule-col{
	margin-bottom: 2rem;
}
.schedule-date{
	width: 12rem;
	height: 12rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.134rem dashed var(--primary); 
	color: var(--primary);
	font-size: 1.8rem;
	font-weight: 900;
	position: relative;
}
.schedule-date.active{
	background-color: var(--primary);
	color: #fff;
}
.schedule-date::before{
	content: "";
	height: 2rem;
	border-right: 0.134rem dashed var(--primary);
	position: absolute;
	left: 50%;
	top: 100%;

}
.schedule h4{
	text-align: left;
	font-size: 2rem;
	font-weight: 800;
	padding-bottom: 1rem;
	color: var(--text-dark);
	text-transform: capitalize;
}
.schedule p{
	text-align: left;
	font-size: 1.1rem;
	color: var(--text-light);
	font-weight: 600;
	
}
.schedule .btn{
	font-size: 1.2rem;
	margin-right: 0.78rem;
}
.last-item::before{
	display: none;
}

/*----Information section----*/

.info{
	background-color: var(--bg);
	text-align: center;
}

.info .active{
	background-color: var(--primary);
	border-radius: 0.5rem;
	padding: 1.5rem 1.8rem;
	color: #fff;
}

.top-item{
	
	font-size: 2rem;
	font-weight: 800;
	padding: 0.355rem;
}
.bottom-item{
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.5rem;
	text-transform: capitalize;
}

/*----Video section-----*/

.iframe-container{
	height: 0rem;
	padding-bottom: 56.25%;
	position: relative;
	width: 100%;
}

.vid iframe{
	position: absolute;
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

/*----News section----*/

.news{
	text-align: center;
	background-color: var(--bg);
}
.news-article{
	text-align: left;
}
.news h5{
	
	font-size: 1.5rem;
	font-weight: 900;
	color: var(--text-dark);
	line-height: 1.2;
	padding: 0.6rem 0;
}
.news p{
	
	font-size: 1rem;
	color: var(--text-light);
	font-weight: 600;
	padding: 0.75rem 0;
}
.news a{
	color: var(--text-dark);
	font-weight: 600;
	font-size: 1.2rem;
	text-decoration: underline;
	
}
.news a.active{
	color: var(--primary);
}

/*-----Footer -----*/

.footer-top{
	background-color: rgb(35,52,123);
	
}
.footer-top h6{
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	padding-bottom: 1.6rem;
}
.footer-top li a{
	color: var(--text-light);
	font-size: 1rem;
	font-weight: 600;
	
	
}

.footer-top a i{
	margin-right: 2rem;
	color: rgb(177, 177, 187);
	font-size: 1.5rem;
	
}

.footer-bottom{
	text-align: center;
	background-color:rgb(16,33,105);
	padding: 1.65rem 0;
}
.footer-bottom small{
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-light);
}

/*-----  Media queries  -----*/

@media screen and (max-width:1200px){
	.container{
		max-width: 1120px;
	}
}

@media screen  and (max-width:992px){
	html{
		font-size: 14px;
	}
	.container{
		max-width: 960px;
	}
	
}

@media screen and (max-width:768px) {
	html{

		font-size: 12px;
	}
	body{
		padding-bottom:13rem;
	}
	.container{
		max-width: 720px;
	}
	.header{
		background-color: rgba(0,0,0,0.289);
		height: 7rem;
		position: fixed;
	}
	.navbar{
		text-align: center;
		display: none;
		position: fixed;
		top: 0 ;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(54,43,178,0.898);
		height: 100vh;
		padding-top: 12rem;
		z-index: 9;
	}
	.navbar li a{
		margin: 0;
	}
	.navbar li {
		margin: 16px 0;
	}
	#toggle:checked ~ .navbar{
		display: inline-block;
	}
	.bars{
		font-size: 2rem;
		color: var(--text-light);
		display: inline-block;
	}
	.brand , .bars{
		position: fixed;
		top: 1.5rem;
		z-index: 999;
	}
	.brand{
		left: 2rem;
	}
	.bars{
		right: 2rem;
	}
	.display{
		display: block;
	}
	.justify-center{
		justify-content: center;
	}
	.sm-col{
		flex-direction: column;
	}
	.sm-100{
		flex: 0 1 100%;
		margin: 2rem 0;
	}
	.sm-full-width{
		width: 100%;
	}
	.sm-text-center{
		text-align: center;
	}
	.sm-wrap{
		flex-wrap: wrap;
	}
	.sm-flex{
		display: flex;
	}
	.sm-justify-center{
		justify-content: center;
	}
	.sm-align-center{
		align-items: center;
	}
	
	.order-1{
		order: 1;
	}
	
	.hero{
		height: auto;
		padding:10rem 0 6rem 0;
	}
	.hero img{
		max-height: 600px;
		object-fit: cover;
		border-top-left-radius: 3rem;
		border-bottom-right-radius: 3rem;
	}
	.info-item{
		padding: 3rem 0;
	}
	.schedule-col{
		box-shadow: 0 0 7px rgba(0,0,0,0.289);
		border-radius: 0.55rem;
		padding: 3rem;
	}
	.schedule-col img{
		max-height: 240px;
		object-fit: cover;
	}
	.schedule-date.active{
		background-color: transparent;
		color: var(--primary);
	}
	.schedule-date{
		height: auto;
		width: auto;
		
		border: 0;
		border-radius: 0;
	}
	.news img{
		max-height: 260px;
		object-fit: cover;
		border-radius: 8px;
	}
	.schedule-date::before{
		display: none;
	
	}
	.footer-top a i{
		margin: 0 1rem;
	}
	.footer-top li a{
		margin: 0 1rem;
	}
}

@media screen and(max-width:576px){
	
	html{
		font-size: 10px;
	}
	.container{
		max-width: 540px;
	}
	
}